In [5]:
import pandas as pd

# tourist_1 에서 진행한것을 함수화 
def create_kto_data(yy, mm):
    # 엑셀파일 지정
    file_path = './files/kto_{}{}.xlsx'.format(yy, mm)
    
    # 불러오기
    df = pd.read_excel(file_path, header = 1, usecols = 'A:G', skipfooter = 4)

    # 기준년월 추가
    df['기준년월'] = '{}-{}'.format(yy, mm)
    
    # '국적'컬럼에 대륙 제거하고 국가만 남기기
    ignore_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']
    condition = (df['국적'].isin(ignore_list) == False)
    df_country = df[condition].reset_index(drop = True)
    
    # 대륙 추가
    continents = ['아시아'] * 25 + ['아메리카'] * 5 + ['유럽'] * 23 + ['오세아니아'] * 3 + ['아프리카'] * 2 + ['기타대륙'] + ['교포']
    df_country['대륙'] = continents
    
    # 관광객비율 추가
    df_country['관광객비율(%)'] = round(df_country.관광 / df_country.계 * 100, 1)
    
    # 전체비율 추가
    tourist_sum = sum(df_country['관광'])
    df_country['전체비율(%)'] = round(df_country['관광'] / tourist_sum * 100, 1)
    
    return(df_country)

In [7]:
kto_test = create_kto_data(2018, 12)
kto_test.head()

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,252461,1698,161,608,3593,258521,2018-12,아시아,97.7,22.7
1,대만,85697,71,22,266,1252,87308,2018-12,아시아,98.2,7.7
2,홍콩,58355,41,3,208,939,59546,2018-12,아시아,98.0,5.2
3,마카오,6766,0,1,20,36,6823,2018-12,아시아,99.2,0.6
4,태국,47242,42,302,58,6382,54026,2018-12,아시아,87.4,4.2

In [13]:
# 빈 데이터프레임 만들기
df = pd.DataFrame()

# 2010년부터 2019년까지 엑셀 합치기
for yy in range(2010, 2020):
    for mm in range(1, 13):
        try:
            mm_str = str(mm).zfill(2)
            yymm = '{}{}'.format(yy, mm_str)

            # 파일 생성
            temp = create_kto_data(str(yy), str(mm_str))
            df = df.append(temp, ignore_index = True)
        except:
            pass
        
df.info()

df.to_excel('./files/kto_total.xlsx', index = False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7200 entries, 0 to 7199
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   국적        7200 non-null   object
 1   관광        7200 non-null   int64
 2   상용        7200 non-null   int64
 3   공용        7200 non-null   int64
 4   유학/연수     7200 non-null   int64
 5   기타        7200 non-null   int64
 6   계         7200 non-null   int64
 7   기준년월      7200 non-null   object
 8   대륙        7200 non-null   object
 9   관광객비율(%)  7200 non-null   float64
 10  전체비율(%)   7200 non-null   float64
dtypes: float64(2), int64(6), object(3)
memory usage: 618.9+ KB